# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env

# Node / Next.js
node_modules/
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/